h5py==3.5.0
huggingface_hub==0.1.2
matplotlib==3.6.1
numpy==1.21.2
pandas==1.5.0
Pillow==9.2.0
pycocoevalcap==1.2
pycocotools==2.0.5
PyYAML==6.0
ruamel_yaml==0.17.21
scikit_learn==1.1.2
scipy==1.9.2
sentencepiece==0.1.96
seq2seq==0.0.5
setuptools==58.5.3
timm==0.6.11
tokenizers==0.10.3
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
transformers==4.12.3

